.navbar .container-fluid{
  background-color: darkgrey;
  border: 3px solid black;
  padding: 0;
}
.navbar-brand{
  height: auto;
  width: auto;
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  margin-top: 8px;
  overflow: auto;
}
.navbar button.navbar-toggle, .navbar-header .icon-bar{
  border: 1.5px solid black;
}

.navbar button.navbar-toggle{
  margin-right: 30px;
}
a h1{
  font-size: 1.8em;
  color: black;
  padding-left: 40px;
  margin: -10px;
}
hr{
  padding: 0;
  margin: 0;
  border-bottom: 3px solid black;
}
a h3{
  font-size: 20px;
  text-align: center;
  color: black;
  padding: 0;
  margin: 0;
}
#bs-example-navbar-collapse-1{
  border-top: 3px solid black;
}
#content h1{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
#content{
  margin: auto;
  padding: 0;
}
#description{
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: darkgray;
  padding: 10px;
  color: black;
  height: auto;
  width: auto;
  position: relative;
}
#back{
  text-align: right;
}